<% @page_title = "Animation" %>

<div class="wrapper">

<h1><%= @page_title %></h1>

<p>Sprite on Hover</p>
<div id="graph"></div>


<p>Sprite on Hover</p>
<div id="sprite"></div>

<br /><br />
<p>just Css</p>
<div class="space"></div>



<img src="http://files.simurai.com/misc/sprite.png" />
<div class="hi"></div>


</div>